
body{
    display: flex;
    flex-direction: row;
}

h2{
    padding: 2em;
}

table{
    display: flex;
    flex-direction: column;

    padding: 2em;

    width: 700px;
    height: 800px;

    margin-left: 2em;
}

table button{
    background: #6C718C;
    color: #ffff;

    width: 600px;
    height: 80px;

    margin-top: 15px;
    margin-left: 20px;

    padding: 1em;

    border-style: none;
    border-radius: 5px;

    cursor: pointer;

    box-shadow: 5px 5px 5px #313640;
}