
body{
    display: flex;
    flex-direction: row;

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

h2{
    padding: 2em;
}

table{
    display: flex;
    flex-direction: column;

    padding: 2em;

    width: 700px;
    height: 800px;

    margin-left: 2em;
}

table button{
    background: #6C718C;
    color: #ffff;

    width: 600px;
    height: 80px;

    margin-top: 15px;
    margin-left: 20px;

    padding: 1em;

    border-style: none;
    border-radius: 5px;

    cursor: pointer;

    box-shadow: 5px 5px 5px #313640;
}

.create{
    display: flex;
    flex-direction: column;

    margin-top: 8%;
    margin-right: 10%;

    float: right;

    background: rgb(251, 251, 251);

    width: 45%;
    height: 70%;

    padding: 2em;

    box-shadow: 8px 8px 8px #a9aaac
}

.create h2{
    color: #0D0D0D;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.inputs label{
    color: #313640;
    font-weight:300 ;

    font-size: 20px;

    margin-top: 20px;
    margin-left: 20px;
}

.inputs input{
    border-style: solid;
    border-color: #a9aaac;
    border-top: none;
    border-left: none;
    border-right: none;
    
    background: none;
    color: #6C718C;

    font-weight: 300;

    margin-top: 20px;
    margin-left: 20px;

    width: 90%;
}

.salvar{
    margin-top: 10%;
}

button{
    width: 30%;
    height: 25%;

    padding: 0.5em;

    background: #0D0D0D;
    color: aliceblue;

    border-radius: 5px;

    cursor: pointer;

    margin:auto;
}