<h2>Produtos disponíveis</h2>

<div class="container">
    <table class="produtos_class">
        <tr *ngFor="let prodList of interface">
            <button type="button" (click)="onSelect(prodList)" [class.selected]="prodList === selectedProd">
                <td class="id">Id: {{prodList.id}}</td>
                <td class="name">Nome: {{prodList.name}}, </td>
                <td class="type">Tipo: {{prodList.type}}, </td>
                <td class="preco">Preço: {{prodList.preco}}, </td>
                <td class="marca">Marca: {{prodList.marca}}, </td>
            </button>
        </tr>
    </table>
    
    <div class="details">
        <app-produto-detalhes [produto]="selectedProd"></app-produto-detalhes>
    </div>
    
</div>
