<h2>Produtos disponíveis</h2>

<div class="container">
    <table class="produtos_class">
        <tr *ngFor="let prodList of interface">
            <button type="button" (click)="onSelect(prodList)" [class.selected]="prodList === selectedProd">
                <td class="id">Id: {{prodList.id}}</td>
                <td class="name">Nome: {{prodList.name}}, </td>
                <td class="type">Tipo: {{prodList.type}}, </td>
                <td class="preco">Preço: {{prodList.preco}}, </td>
                <td class="marca">Marca: {{prodList.marca}}, </td>
            </button>
        </tr>
    </table>
    
    <div class="details">
        <app-produto-detalhes [produto]="selectedProd"></app-produto-detalhes>
    </div>
</div>

<div class="create">
    <h2>Adicione um novo produto:</h2>
    <div class="inputs">
        <label for="name">Nome do produto:</label>
        <input id="name" [(ngModel)]="prodNew.name" >

        <label for="id">Id:</label>
        <input id="id" [(ngModel)]="prodNew.id" >

        <label for="type">Tipo do produto:</label>
        <input id="type" [(ngModel)]="prodNew.type" >

        <label for="preco">Preço do produto:</label>
        <input id="preco" [(ngModel)]="prodNew.preco" >

        <label for="marca">Marca:</label>
        <input id="marca" [(ngModel)]="prodNew.marca" >
    </div>

    <button type="button" (click)="create()" class="salvar">Salvar</button>
</div>


