div{
    margin-left: 30px;

    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;

    background: rgb(251, 251, 251);
    padding: 2em;

    width: 155%;
    height: 150%;

    margin-top: 50px;

    border-radius: 5px;

    box-shadow: 8px 8px 8px #a9aaac
}

.inputs{
    display: flex;
    flex-direction: column;

    padding: 2rem;
    padding-left: 0;
}

h2{
    color: #0D0D0D;
    margin-top: 20px;

    font-weight: 500;
}

.id{
    margin-top: 20px;
    font-size: 18px;
    color: #313640;
}

.inputs label{
    color: #313640;
    font-weight:300 ;

    font-size: 20px;

    margin-top: 20px;
    margin-left: 20px;
}

.inputs input{
    border-style: solid;
    border-color: #a9aaac;
    border-top: none;
    border-left: none;
    border-right: none;
    
    background: none;
    color: #6C718C;

    font-weight: 300;

    margin-top: 20px;
    margin-left: 20px;

    width: 85%;
}

.removeProd{
    margin-top: 50px;
    padding: 2rem;
}

.removeProd button{
    width: 50%;
    height: 25%;

    padding: 0.5em;
    margin: auto;

    background: #0D0D0D;
    color: aliceblue;

    border-radius: 5px;

    cursor: pointer;
}

