<div *ngIf="produto">
        <div class="container">
            <h2>{{produto.name | uppercase}} Detalhes: </h2>
            <div class="id">id: {{produto.id}}</div>
        
            <div class="inputs">
                <label for="name">Produto: </label>
                <input id="name" [(ngModel)]="produto.name" placeholder="name">

                <label for="idProd">Id: </label>
                <input id="idProd" [(ngModel)]="produto.id" placeholder="id">

                <label for="type">Tipo: </label>
                <input id="type" [(ngModel)]="produto.type" placeholder="Tipo">
        
                <label for="preco">Preço: </label>
                <input id="preco" [(ngModel)]="produto.preco" placeholder="preco">

                <label for="marca">Marca: </label>
                <input id="marca" [(ngModel)]="produto.marca" placeholder="marca">
        </div>
    </div>

    <div class="removeProd">
        <button class="delete" type="button" (click)="delete(produto)">Deletar Produto</button>
    </div>



    <div class="create">
        <h2>Adicione um novo produto:</h2>
        <div class="inputs">
            <label for="name">Nome do produto:</label>
            <input id="name" [(ngModel)]="prodNew.name" >
    
            <label for="id">Id:</label>
            <input id="id" [(ngModel)]="prodNew.id" >
    
            <label for="type">Tipo do produto:</label>
            <input id="type" [(ngModel)]="prodNew.type" >
    
            <label for="preco">Preço do produto:</label>
            <input id="preco" [(ngModel)]="prodNew.preco" >
    
            <label for="marca">Marca:</label>
            <input id="marca" [(ngModel)]="prodNew.marca" >
        </div>
    
        <button type="button" (click)="create()">Salvar</button>
    </div>
        
    </div>

